* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: #132334;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
  color: #d3435e;
  margin-top: 5rem;
}
header p {
  font-size: 25px;
  color: #c7c7c7;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
  /* @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background-color: $secondary-color;
      span {
        /* @include easeOut; */
        color: $fourth-color;
      */
}
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}
.pad1 {
  background: #60d394;
}
.pad2 {
  background: #d36060;
}
.pad3 {
  background: #c060d3;
}
.pad4 {
  background: #d3d160;
}
.pad5 {
  background: #606bd3;
}
.pad6 {
  background: #60c2d3;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.65s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #d3435e;
  transition: all 0.65s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.983;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #0c1621;
  list-style: none;
  backdrop-filter: blur(40px);
  transform: translate3d(0, -100%, 0);
  transition: all 0.65s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
  backdrop-filter: blur(40px);
}
.menu-branding {
  background: #132334;
  transform: translate3d(0, 100%, 0);
  transition: all 0.65s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu .portrait {
  width: 250px;
  height: 250px;
  background: url(../img/portrait3.jpeg);
  border-radius: 50%;
  border: solid 3px #d3435e;
}
.menu .nav-item {
  z-index: 2;
  transform: translate3d(600px, 0, 0);
  transition: all 0.65s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  z-index: 3;
  color: #d3435e;
}
.menu .nav-link {
  z-index: 2;
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: capitalize;
  padding: 1rem 0;
  font-weight: 300;
  color: #cac4bc;
  text-decoration: none;
  transition: all 0.65s ease-out;
}
.menu .nav-link:hover {
  color: #d3435e;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.container.show {
  backdrop-filter: blur(40px);
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .about-info {
    grid-template-areas: "bioimage" "bio" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url(../img/portraitSmallz.jpeg);
    width: 125px;
    height: 125px;
  }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
}

/* ####### Contaact Form ######### */
.s2 {
  background-color: #132334;
  border-bottom: 1px solid #d3435e;
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

#contact-form {
  background-color: #d3435e;
  box-shadow: #d3435e;
  border-radius: 5px;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  background-color: #0e1925;
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  background: #0b141e;
  box-shadow: #1a3047;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0b141e;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  box-shadow: nset 8px 8px 38px #ededed, inset -8px -8px 38px #132334;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #cac4bc;
  background-color: #b82b45;
  border: none;
}

@media (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
