//Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;
  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $secondary-color;
    @include easeOut;
  }
  // Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      //Line 1 rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //line 2 hide
      &:nth-child(2) {
        opacity: 0;
      }
      //line 3 rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6.5px, -6.5px);
      }
    }
  }
}

//Menu OverLay
.menu {
  // filter: blur(8px);
  // -webkit-filter: blur(8px);
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.983;
  // backdrop-filter: blur(40px);
  visibility: hidden;
  &.show {
    visibility: visible;
    // backdrop-filter: blur(40px);
    // z-index: inherit;
  }
  &-branding,
  &-nav {
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &-nav {
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    // z-index: -2;
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    // float: right;
    list-style: none;
    backdrop-filter: blur(40px);
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0);
      backdrop-filter: blur(40px);
    }
  }
  //Branding side
  &-branding {
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    // z-index: -3;
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0);
    }
  }
  .portrait {
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    // z-index: 2;
    width: 250px;
    height: 250px;
    background: url(../img/portrait3.jpeg);
    border-radius: 50%;
    border: solid 3px $secondary-color;
    // border-shadow: 2px;
  }
  .nav-item {
    z-index: 2;
    transform: translate3d(600px, 0, 0);
    @include easeOut;
    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      z-index: 3;
      color: $secondary-color;
    }
  }
  .nav-link {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: capitalize;
    padding: 1rem 0;
    font-weight: 500;
    color: $fifth-color;
    text-decoration: none;
    @include easeOut;
    &:hover {
      color: $secondary-color;
    }
  }
}

//Delay each nav item slide by 0.1sec(for loop)
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

.container {
  &.show {
    backdrop-filter: blur(40px);
  }
}

// .portrait {}
