@import "config";
@import "menu";
* {
  box-sizing: border-box;
}

body {
  @include bacground;
  background: $primary-color;
  color: $fifth-color;
  height: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  z-index: -1;
  &.show {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 5rem; //1rem=16px
  }
  &.sm-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 5rem, 1rem;
    background: rgba(lighten($primary-color, 0.2), 0.5);
  }
}

a {
  color: $fifth-color;
  text-decoration: none;
  z-index: 2;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 5rem;
  height: 100%;
  .icons {
    margin-top: 4rem;
    a {
      padding: 1rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    width: 250px;
    height: 250px;
  }
  .bio {
    grid-area: bio;
  }
  .job-1 {
    grid-area: job1;
    h6 {
      font-size: 12px;
    }
    h3 {
      font-size: 26px;
      font-weight: 600;
    }
  }
  .job-2 {
    grid-area: job2;
    h6 {
      font-size: 12px;
    }
    h3 {
      font-size: 26px;
      font-weight: 600;
    }
  }
  .job-3 {
    grid-area: job3;
    h6 {
      font-size: 12px;
    }
    h3 {
      font-size: 26px;
      font-weight: 600;
    }
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($secondary-color, 10);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .icons {
    // padding: 5px;
    a {
      padding: 2rem;
      &:hover {
        color: rgba(lighten($primary-color, 0.2), 1);
        @include easeOut();
      }
    }
  }
}

.photos {
  text-align: center;
  padding-top: 5rem;
  font-size: 38px;
  color: $secondary-color;
}

//Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  padding: 1rem, 1rem, 1rem, 1rem;
  div {
    font-size: 1.5rem;
    border: 3px $fifth-color solid;
    border-radius: 7px;
    padding: 2rem 2.5, 6rem;
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background-color: $secondary-color;
      span {
        @include easeOut;
        color: $fourth-color;
      }
    }
  }
}

// Transition Effect
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10deg);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.container {
  animation: transitionIn 0.75s;
  z-index: -1;
}

@import "mobile";

/* ####### Contaact Form ######### */

.s2 {
  background-color: $primary-color;
  border-bottom: 1px solid $secondary-color;
  overflow: auto;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

#contact-form {
  background-color: $secondary-color;
  box-shadow: $secondary-color;
  border-radius: 5px;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  background-color: $fourth-color;
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  background: darken($primary-color, 6);
  box-shadow: lighten($primary-color, 5);
}
.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darken($primary-color, 6);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  box-shadow: nset 8px 8px 38px #ededed, inset -8px -8px 38px $primary-color;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: $fifth-color;
  background-color: darken($secondary-color, 10);
  border: none;
}
@media (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
