* {
  -webkit-tap-highlight-color: transparent !important;
}
code {
  margin: 3px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  border-radius: 2px !important;
  font-family: Consolas, Monaco !important;
}

::-webkit-scrollbar {
  display: none !important;
}

p {
  margin-top: 0.5rem !important;
}

button {
  border-radius: 2px !important;
}

.chakra-alert {
  margin-top: 10px !important;
  border-radius: 2px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  width: 100% !important;
}

details {
  /*border: 1px solid #aaa;*/
  border-radius: 2px;
  margin: 10px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: 600;
  font-size: 24px;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  /*border-bottom: 1px solid #aaa;*/
  margin-bottom: 0.5em;
}
