* {
  -webkit-tap-highlight-color: transparent !important;
}
code {
  margin: 3px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  border-radius: 2px !important;
  font-family: Consolas, Monaco !important;
}

p {
  margin-top: 0.5rem !important;
}

button {
  border-radius: 2px !important;
}

.chakra-alert {
  margin-top: 10px !important;
  border-radius: 2px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  width: 100% !important;
}
