@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @apply text-base md:text-[18px] lg:text-lg;
}

iframe {
  @apply w-full h-56 sm:h-80 md:h-96 my-10 !important;
}

.ytp-cued-thumbnail-overlay-image {
  @apply w-full h-96 !important;
}

h1 {
  @apply text-3xl md:text-4xl !important;
}
h2 {
  @apply my-3 text-2xl md:text-3xl  !important;
}
h3 {
  @apply my-2 text-xl md:text-2xl !important;
}
::-webkit-scrollbar {
  display: none;
}
